.dot {
  background-color: white;
  /* White */
  border: 1.5px solid #ffffff;
  border-radius: 100px;
  width: 100%;
  max-width: 16px;
  height: 16px;
}
.headconr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
}
.con {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
  width: 50%;
  align-items: center;
}
.linkcont {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 8px;
}
.li {
  width: 100%;
  max-width: 100px;
}
.container {
  list-style-type: none;
}

.current_lang svg {
  width: 16px;
  height: 16px;
  color: white;
  transition: 0.3s;
}
.current_lang:hover svg {
  transform: rotate(180deg);
  transition: 0.3s;
}
.current_lang {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  position: relative;
  z-index: 3;
}

.dropdown {
  position: absolute;
  top: 5px;
  right: -110px;
  width: 105px;
  background-color: #201e27;
  opacity: 0;
  transition: 0.5s;
  border-radius: 12px;
}

.dropdown_menu {
  display: flex;
  flex-direction: column;
  padding: 4px 0px;
}

.dropdown_menu a {
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  transition: 0.3s;
}

.dropdown_menu a:first-child {
  border-bottom: 1px solid #353437;
}

.dropdown_menu a:hover {
  color: var(--red) !important;
  transition: 0.3s;
}

.current_lang svg {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.current_lang:hover svg {
  transform: rotate(180deg);
  transition: 0.3s;
}

.nav_link {
  color: #ffffff;
  font-family: var(--ttregular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 40px;
  border: 1px solid #ffffff;
  border-radius: 500px;
  background-color: #020105;
  gap: 16px;
}
.cent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hamburger {
  display: none;
  flex-direction: column;
  width: 22px;
  height: 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 22px;
  height: 1.5px;
  background-color: white;
  transition: 0.4s;
}

.rotate1 {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.4s;
}

.rotate2 {
  position: absolute;
  transform: rotate(-45deg);
  transition: 0.4s;
}

.hidden {
  opacity: 0;
  transition: 0.4s;
}
.navmobile {
  display: none;
}

@media (max-width: 1025px) {
  .con,
  .btn {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
