.learnall {
  border: 1px solid red;
}

.learn_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modul_img {
  position: absolute;

  top: 0;
  right: 40px;
  height: 200px;
  width: 670px;
}
.program_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.program_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.program_item > p {
  font-family: var(--ttinter_refular);
  line-height: 32px;
  font-size: 20px;

  font-style: normal;
  font-weight: 400;

  color: #d7d1e7;
}
.modul_main {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background: #1a1233;
  border-radius: 40px;
  gap: 40px;
  z-index: 9;
}
.modul_wrap {
  position: relative;
  z-index: 999;
}
.modul_main::after {
  content: "";
  position: absolute;
  z-index: 1;
  
  width: 95%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: -24px;
  border: 1px solid #1a1233;
  border-radius: 40px;
}
.modul_main::before {
  content: "";
  position: absolute;
  z-index: 1;

  width: 90%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: -48px;
  border: 1px solid #1a1233;
  border-radius: 40px;
}
.learn_main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
.inner_program {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px
}
.modul_main {
  max-width: 1490px;
}
.learn_top {
}
.modul_img {
  width: 100%;
  max-width: 700px;
  height: 200px;
}
.modul_img > img {
  width: 100%;
}
@media (max-width: 1440px) {
  .modul_main {
    max-width: 1150px;
  }
}
@media (max-width: 1024px) {
  .program_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .program_container {
    display: flex;
  }
  .modul_main {
    padding: 14px 16px;
  }
  .modul_img {
    width: 152px;
    height: 62px;
  }
}
