.container {
  display: flex;
  align-items: center;
  max-width: 1776px;
  background: #1a1233;
  border-radius: 40px;
}
.foot_cont > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.foot_conta {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  list-style-type: none;
}
.footlink_cont {
  display: flex;
}
.foot_cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.src {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footnum {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.footnum > a,
.footnum > p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-family: var(--ttregular);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.foot_link {
  font-family: var(--ttregular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.colorwhite {
  color: #ebebeb;
}
.foot_social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.foot_cont_mobile {
  display: none;
}
@media (max-width: 768px) {
  .foot_cont_mobile {
    display: block;
  }
  .foot_cont {
    display: none;
  }
  .foot_cent {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media (max-width: 425px) {
  .foot_conta {
    flex-direction: column;
  }
}
