.container {
  display: flex;
  align-items: center;
}
.css {
  background: #1a1233;
  border-radius: 40px;
  padding: 40px;
  width: 100%;
}
.foot_cont > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.foot_conta {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  list-style-type: none;
}
.footlink_cont {
  display: flex;
}
.foot_cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.src {
  display: flex;
  align-items: flex-end;
}
.footnum {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.footnum > a,
.footnum > p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-family: var(--ttregular);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.foot_link {
  font-family: var(--ttregular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.colorwhite {
  color: #ebebeb;
}
.foot_social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.foot_cont_mobile {
  display: none;
}
.social_link {
  background: #ffffff;
  border: 1px solid #c5cee0;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
}
.social_link > a {
  background-color: blue;
}
.social_link > a > svg {
  display: block;
  background-color: #fff;
}
@media (max-width: 768px) {
  .social_link {
    width: 40px;
    height: 40px;
  }
  .foot_cont_mobile {
    display: block;
  }
  .foot_cont {
    display: none;
  }
  .foot_cent {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .foot_social {
    gap: 10px;
  }
  .cent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footnum > a,
  .footnum > p {
    font-size: 18px;
    line-height: 22px;
  }
  .foot_link {
    font-size: 14px;
    line-height: 16px;
  }
  .css {
    width: 100%;
    padding: 16px;
  }
}
@media (max-width: 425px) {
  .foot_conta {
    flex-direction: column;

    border: 1px solid #291d4c;
  }

  .logo_footer {
    width: 132px;
  }
  .logo_footer > img {
    width: 100%;
    height: 100%;
  }
}
